div.about {
    background-color: #3E7CB1;
    color: #FFFFFF;
    font-family: "Andika", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10vh 20vw 10vh 20vw;
    padding: 20px 50px;
}

div.about .bold {
    font-weight: 900;
    font-size: 22px;
}

div.about p {
    margin: 50px 20px;
}
