.header {
    background-color: #054a91;
    display: flex;
    padding: 5px 20px;
    height: 50px;
}

.header_name {
    margin: 0 10px;
    color: #dbe4ee;
    font-family: "Amatic SC";
    font-size: 40px;
}

.header div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .welcome {
    color: #dbe4ee;
    font-family: "Amatic SC";
    margin-right: 20px;
}

.header_button {
    width: 90px;
    height: 30px;
    background-color: #f17300;
    border-radius: 4px;
    border-style: none;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Amatic SC";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffffb9;
    transition-duration: 0.4s;
}


.header_button:hover {
    background-color: #b0570a;
}

div.header a {
    text-decoration: none;
    display: flex;
}
