div.login {
    background-color: #3E7CB1;
    width: 20%;
    margin: 100px auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.login input {
    width: 70%;
    padding: 12px 20px;
    border: 10px;
    border-style: solid;
    border-color: #3E7CB1;
    background-color: #DBE4EE;
    display: block;
    margin: auto;
    font-family: 'Andika', sans-serif;
}

div.login button {
    background-color: #F17300;
    color: #054A91;
    margin: auto;
    border-style: none;
    border-radius: 4px;
    display: block;
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    transition-duration: 0.4s;
}

div.login button:hover {
    background-color: #DBE4EE;
    color: #054A91;
}

div.login p {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

div.login a {
    text-decoration: none;
}