div.main {
    background-color: #DBE4EE;
    display: flex;
    flex-direction: column;
}

div.main div.searchbar {
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.main div.searchbar button {
    background-color: #f17300;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffffe5;
    transition-duration: 0.4s;
}

div.main div.searchbar button:hover {
    background-color: #b0570a;
}

div.main input {
    height: 25px;
    text-align: center;
    font-family: "Andika", sans-serif;
    font-size: 16px;
    margin-right: 10px;
}

div.main div.attractionsDisplay {
    background-color: #81a4cd;
    display: flex;
    margin: 0 13vw 10vh 13vw;
    border-radius: 10px;
    border: 3px solid #f17300;
    height: 70vh;
    font-family: "Andika", sans-serif;
    color: #ffffffe5;
}

div.main div.backgroundImage {
    display: flex;
    margin: auto;
    height: 63vh;
    opacity: 0.3;
}

div.main div.backgroundImage img {
    max-width:100%;
    max-height: 100%;
}

div.main div.attractionList {
    overflow-y: auto;
    width: 20vw;
}

div.main div.attractionList div {
    padding: 10px;
    border-bottom: 1px solid #884a03b4;
    cursor: pointer;
}

div.main div.attractionList h3 {
    margin: 0;
}

div.main div.attractionList div:hover {
    background-color: #054b919d;
    color: #ffffff;
}

div.main div.attractionCard {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid #f17400b4;
    width: 54vw;
    text-align: center;
}

div.main div.attractionCard img {
    margin-bottom: 20px;
    border-radius: 20px;
    border:6px solid #f17400b4;
}

div.main div.attractionCard p {
    margin: 0 20px;
    font-size: 20px;
}

div.main div.attractionCard a {
    margin: 20px;
    margin: 20px;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
div.main div.attractionCard a:hover{
    text-decoration: underline;
}


div.main div.attractionCard button {
    background-color: #f17300;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffffcf;
    transition-duration: 0.4s;
}
div.main div.attractionCard button:hover{
    background-color: #b0570a;
}

